.page-home-projects {
    /*width: 100%;*/
    /*padding: 0 126px;*/
}
.page-home-projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page-home-projects-content-line {
    height: 376px;
    font-size: 12px;
    box-sizing: border-box;
    color: #535D6A;
    margin-bottom: 33px;
}
.page-home-projects-content-box {
    width: 277px;
    height: 376px;
    box-shadow: 0 2px 10px 0 rgba(173,173,173,0.28);
}
.page-home-projects-content-line-title {
    font-size: 14px;
    color: #090A09;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.page-home-projects-content-line-addr {
    font-size: 12px;
    color: #B5C1D2;
    margin: 11px 0 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.page-home-projects-content-line-time {
    font-size: 12px;
    color: #535D6A;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-home-projects-content-line-pd {
    padding: 15px 19px 0;
}
.page-home-projects-title {
    font-size: 24px;
    color: #5E90AB;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.page-home-projects-title span {
    font-size: 11px;
    color: #000000;
}
.page-home-projects-content-line-addr-icon {
    width: 11px;
    height: 14px;
    background: url("/images/location.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.page-home-projects-content-line-time-icon {
    width: 16px;
    height: 16px;
    background: url("/images/date.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.page-home-projects-content-line-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-home-projects-content-line-num-hour {
    width: 16px;
    height: 16px;
    background: url("/images/time@2x.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.page-home-projects-content-line-num-people {
    width: 13px;
    height: 15px;
    background: url("/images/people@2x.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.page-home-projects-content-line-num-left,.page-home-projects-content-line-num-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #535D6A;
}
.page-home-projects-content-line-num-left {
    margin-right: 5px;
}
.page-home-projects-content-line-num-right {
    margin-left: 5px;
}

.bc {
    background: rgba(228,234,238,0.25);
    border-radius: 17px;
    padding: 9px 17px;
}

.projects-space {
    width: 277px;
}
