{
  "extends": "airbnb",
  "plugins": ["react"],
  "rules": {
    "global-require": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-unused-vars": "off",
    "no-set-state": "off",
    "space-before-function-paren": "off",
    "max-len": "off",
    "no-plusplus": "off",
    "class-methods-use-this": ["off",  { "devDependencies": true }],
    "array-callback-return": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-indent": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "react/require-default-props": 0,
    "no-undef": "off",
    "one-var": "off"
  }
}
