<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="x5-orientation" content="portrait" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta name="last-build-time" content="<%= lastBuild %>" />
  <!-- link rel="apple-touch-icon" href="apple-touch-icon.png" -->
  <script>
    var designWidth = 375;
    var screenWidth = screen.width;
    var scale = screenWidth / designWidth;
    var meta =
      '<meta name="viewport" content="width=' +
      designWidth +
      ", initial-scale=" +
      scale +
      ", maximum-scale=" +
      scale +
      ", minimum-scale=" +
      scale +
      ', user-scalable=no, viewport-fit=contain, target-densitydpi=device-dpi, minimal-ui" >';
    document.write(meta);

    // 调试工具，url 中加入 debug 开启
    (function () {
      if (!/debug/.test(window.location)) return;
      var src = "/lib/eruda.min.js";
      document.write("<scr" + 'ipt src="' + src + '"></scr' + "ipt>");
      document.write("<scr" + "ipt>eruda.init();</scr" + "ipt>");
    })();

  </script>
  <script src="/lib/jweixin-1.6.0.js"></script>
  <!-- <script src="https://js.fundebug.cn/fundebug.1.5.0.min.js" apikey="0e6d72e0b2c12d6d572ab35d4869c463b315c24bf7f2a62f2edd329958d8b8a2"></script> -->
  <script>
    window.userAgent = false //true:微信浏览器   false:h5
    // 微信 config，类型可以是 JS Object 或者 JSON 字符串
    window.wxConfig = {}; // 或者 '{}'
    // http://api.volunteer.alpha.guangying.link/api/v1
    // http://alpha.api.volunteer.tmallwo.com:8000
    // window.apiHost = "http://192.168.1.104:7878";
    // window.apiHost = "https://api.volunteer.alpha.guangying.link";
    window.apiHost = "http://tkapi.guangying.link";

    // server 端下发 token
    window.token = null;

    // window.orgInfo = JSON.parse('{"name":"志多星","logo":"http://api.volunteer.alpha.flashdiet.cn/images/uploads/2017-11/300371509591667.png","real_name_register":1,"module_settings":[[{"label":"志愿活动","key":"volunteer_project","icon":"http://api.volzdx.cn/images/uploads/2018-12/338771544419654.png","settings":{"label":"志愿活动","icon":"http://api.volzdx.cn/images/uploads/2018-12/338771544419654.png"}},{"label":"志愿团队","key":"volunteer_team","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png","settings":{"label":"志愿团队","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png"}},{"label":"<p style=\\"text-align: center;\\">公益桥</p>","key":"公益桥","icon":"http://api.volzdx.cn/images/uploads/2020-03/380051583735593.jpg","settings":{"label":"<p style=\\"text-align: center;\\">公益桥</p>","icon":"http://api.volzdx.cn/images/uploads/2020-03/380051583735593.jpg"},"link":"https://m.qlchat.com/wechat/page/live/2000008135717024?openId=o09Gyt88FKrx730FTfpDqfhwAHL8"}],[{"label":"志愿回馈","key":"volunteer_feedback","icon":"http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png","settings":{"label":"志愿回馈","icon":"http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png"}},{"label":"<p style=\\"text-align: center;\\">志愿攻略a</p>","key":"志愿攻略","icon":"http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png","settings":{"label":"<p style=\\"text-align: center;\\">志愿攻略</p>","icon":"http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png"},"link":"http://m.guide.volzdx.cn"},{"label":"社区互动","key":"community_interact","icon":"http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png","settings":{"label":"社区互动","icon":"http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png"}}],[{"label":"<p>英文新建</p>","label-en":"<p>english</p>","key":"test-en2","icon":"http://localhost:5432/images/uploads/2020-10/228721603989895.gif","settings":{"label":"<p>英文新建</p>","icon":"http://localhost:5432/images/uploads/2020-10/228721603989895.gif"},"link":null},{"label":"<p>英文名称</p>","label-en":"<p>english</p>","key":"test-en","icon":"http://localhost:5432/images/uploads/2020-10/579611603989063.jpeg","settings":{"label":"<p>英文名称</p>","icon":"http://localhost:5432/images/uploads/2020-10/579611603989063.jpeg"},"link":"http://"}]],"cert_title":"","cert_org":"","cert_cachet":"http://api.volzdx.cn/images/uploads/2019-02/332291551239889.png","cert_auth_org":"","open_volunteer_certificate":0,"in_blacklist":0,"org_info":"<p>&nbsp; &nbsp; &nbsp; &nbsp;志多星是由和众泽益公益志愿服务中心倾情打造的志愿者服务信息化管理平台，我们的使命是致力于为政府、企业、社会组织和志愿服务组织提供一站式线上志愿者管理服务，最终实现打造共享智慧志愿社区的愿景。</p><p>&nbsp; &nbsp; &nbsp; &nbsp;志多星不仅整合开发了灵活注册、打卡计时、团队管理、活动管理、志愿攻略、志愿社区以及志愿保障等功能于一体，让志愿者管理机构能够随时、随地对团队、活动以及志愿者进行管理，让志愿者可以随时、随地参与志愿活动，更能够通过实名认证，将志愿服务数据与政府官方“志愿云”进行同步。同时，志多星积极响应政府对于志愿保障的倡导，创新性地将志愿保障纳入平台，为志愿者提供低价高保额的志愿服务定制保险产品，让志愿者安心、志愿机构放心。志多星提供了多样的线上志愿服务培训选择，让组织和志愿者可以随时随地接受专业的志愿服务培训。志多星还进一步为志愿者提供了激励回馈的平台，推动志愿服务在互联网+时代实现智慧、共享。</p>","org_manual":"<h3><a href=\\"http://mp.weixin.qq.com/s/YN2w9mpFFns3zePi8D6fNw\\"><strong>一、志愿者注册及使用</strong></a></h3><h3><a href=\\"http://mp.weixin.qq.com/s/YN2w9mpFFns3zePi8D6fNw\\"><strong>（点击即可查看详情）</strong></a></h3><p>1.登入志多星流程</p><p>2.注册账号流程</p><p>3.实名认证流程</p><p>4.如何加入志愿团队</p><p>5.如何报名志愿活动</p><h3><a href=\\"http://mp.weixin.qq.com/s/MKGNdEdk-3vCPLf4KEA1wQ\\"><strong>二、发布志愿活动说明</strong></a></h3><p>1.活动列表及字段解释</p><p>2.创建志愿活动</p><p>3.活动审核及注意事项</p><p>4.我的活动功能说明</p><p>5.录用管理功能说明</p><h3><a href=\\"https://mp.weixin.qq.com/s/BjTZlNVwYuJO3z946AFOGg\\"><strong>三、创建团队与管理</strong></a></h3><p>1.团队功能及字段说明</p><p>2.如何创建团队</p><p>3.如何用手机创建团队</p><p>4.审核团队注意事项</p><h3><a href=\\"https://mp.weixin.qq.com/s/CdiliujQH_RiDpbcIEjhyw\\"><strong>四、如何购买保险说明</strong></a></h3><p>1.保险险种与说明</p><p>2.志愿保险购买流程</p><h3><a href=\\"http://mp.weixin.qq.com/s/DpPQoWaN5TBwdyX-Ll5aNg\\"><strong>五、签到打卡设置说明 </strong></a></h3><p>1.设置签到码流程</p><p>2.志愿者如何使用签到打卡功能</p><p>3.如何补录时长</p>","org_service":"<h4>您可以通过以下方式联系志多星<br>微信：13240208305<br>电话：010-64804682转850<br>邮箱：zhiduoxing@hcvcchina.com<br>客服在线时间<br>10:00am-20:00pm<br>感谢您的支持</h4>","org_service_tel":"13240208305","org_service_guide":"<p>您好：如您申请修改实名认证信息，请联系：13240208305（微信同步）/1322088197（微信同步）</p>","custom_config":{"extends":[],"open_real_name":1,"open_avatars":0,"open_id_number":1,"open_nation":0,"open_addr":0,"real_name_register":1},"open_stars":1,"score_name":"","st_point_uint":["志愿","星币"],"st_achieve_op":0,"st_rank_op":0,"demand_category":null,"demand_village":null,"menus_setting_open":4,"menus_setting":null,"default_province_id":1,"default_province_name":"1","default_city_id":2,"default_city_name":"2","default_county_id":3,"default_county_name":"3","language_change":1,"area_level":4,"volunteer_feedback":1,"funding_application":0}');

    // window.orgInfo = JSON.parse('{"name":"中金公益","logo":"http://api.volzdx.cn/images/uploads/2021-11/707471636428672.jpeg","real_name_register":1,"module_settings":[[{"label":"志愿活动","label-en":"<p>Project</p>","key":"volunteer_project","icon":"http://api.volzdx.cn/images/uploads/2018-12/362691544419728.png","settings":{"label":"志愿活动","label-en":"<p>Project</p>","icon":"http://api.volzdx.cn/images/uploads/2018-12/362691544419728.png"},"link":null},{"label":"志愿团队","label-en":"<p>Team</p>","key":"volunteer_team","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png","settings":{"label":"志愿团队","label-en":"<p>Team</p>","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png"},"link":null},{"label":"志愿回馈","label-en":"<p>Rewords</p>","key":"volunteer_feedback","icon":"http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png","settings":{"label":"志愿回馈","label-en":"<p>Rewords</p>","icon":"http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png"},"link":"/shop"}],[{"label":"社区互动","label-en":"<p>Interaction</p>","key":"community_interact","icon":"http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png","settings":{"label":"社区互动","label-en":"<p>Interaction</p>","icon":"http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png"},"link":"/my/circlevisits"},{"label":"<p style=\\"text-align: center;\\">志愿攻略a</p>","label-en":"<p>&nbsp;Knowledge</p>","key":"志愿攻略","icon":"http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png","settings":{"label":"<p style=\\"text-align: center;\\">志愿攻略</p>","icon":"http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png","label-en":"<p>&nbsp;Knowledge</p>"},"link":"http://m.guide.volzdx.cn"},{"label":"<p style=\\"text-align: center;\\">共进步</p><p style=\\"text-align: center;\\">Ranking List</p>","label-en":"<p>Volunteer Ranking</p>","key":"volunteer_rank","icon":"http://api.volzdx.cn/images/uploads/2019-12/403011575861956.png","settings":{"label":"<p style=\\"text-align: center;\\">志愿排行</p>","icon":"http://api.volzdx.cn/images/uploads/2019-12/403011575861956.png","label-en":"<p>Volunteer Ranking</p>"},"link":"/volunteer_rank"}]],"cert_title":"","cert_org":"","cert_cachet":"","cert_auth_org":"","open_volunteer_certificate":0,"in_blacklist":0,"org_info":"","org_manual":"","org_service":"","org_service_tel":"","org_service_guide":"","custom_config":{"extends":[{"key":"邮箱-中金","label":"邮箱","type":"3","options":null,"is_required":1},{"key":"用户身份-中金","label":"用户身份","type":"1","options":"中金在职员工,爱心之友","is_required":1},{"key":"员工号-中金","label":"员工号","type":"3","options":null,"is_required":0},{"key":"部门--中金","label":"所在部门","type":"1","options":"IB（投资银行部）,CM(资本市场部),EQ(股票业务部),SI(证券投资部）,RS(研究部）,CGI(中金研究院）,FI(固定收益部）,WM(财富管理部）,WSC(财富服务中心）,AM(资产管理部）,MF(中金基金）,CCM(中金资本管理部）,FM(公司管理部）,FO(综合办公室）,SD(战略发展部）,OP(运作部）,AC(资产托管部）,LC(法律合规部）,PR(公共关系部）,IA(内部审计部）,IT(信息技术部）,RM(风险管理部）,FC(财务部）,TR(资金部),HR(党委组织部/人力资源部),GA(行政管理部),EM(机构管理部),CO(党委办公室/党建工作部),PD(采购部）,IBI(投行业务内核部),CI(中金学院),SO(纪委办公室/风险督察办公室),SC(业务支持部)","is_required":0},{"key":"中金-爱心之友","label":"用户类型","type":"1","options":"老员工,员工亲友,其他","is_required":0}],"open_real_name":1,"open_avatars":0,"open_id_number":1,"open_nation":0,"open_addr":1},"open_stars":0,"score_name":"","st_point_uint":["志愿","星币"],"st_achieve_op":0,"st_rank_op":0,"demand_category":[],"demand_village":[],"menus_setting_open":4,"menus_setting":null,"default_province_id":0,"default_province_name":"全国","default_city_id":0,"default_city_name":"","default_county_id":0,"default_county_name":"","language_change":0,"area_level":2,"volunteer_feedback":1,"funding_application":0}');
      //  window.orgInfo = JSON.parse('{\"name\":\"中金公益爱心同行\",\"logo\":\"http://api.volzdx.cn/images/uploads/2021-11/707471636428672.jpeg\",\"real_name_register\":1,\"module_settings\":[[{\"label\":\"志愿项目\",\"label-en\":\"<p>Project</p>\",\"key\":\"volunteer_project\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/929251639969211.png\",\"settings\":{\"label\":\"志愿项目\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/929251639969211.png\",\"label-en\":\"<p>Project</p>\"},\"link\":null},{\"label\":\"志愿团队\",\"label-en\":\"<p>Team</p>\",\"key\":\"volunteer_team\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/856731639969439.png\",\"settings\":{\"label\":\"志愿团队\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/856731639969439.png\",\"label-en\":\"<p>Team</p>\"},\"link\":null},{\"label\":\"志愿回馈\",\"label-en\":\"<p>Rewords</p>\",\"key\":\"volunteer_feedback\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/504061639969449.png\",\"settings\":{\"label\":\"志愿回馈\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/504061639969449.png\",\"label-en\":\"<p>Rewords</p>\"},\"link\":\"/shop\"}],[{\"label\":\"社区互动\",\"label-en\":\"<p>Interaction</p>\",\"key\":\"community_interact\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/515961639969458.png\",\"settings\":{\"label\":\"社区互动\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/515961639969458.png\",\"label-en\":\"<p>Interaction</p>\"},\"link\":\"/my/circlevisits\"},{\"label\":\"<p style=\\\"text-align: center;\\\">公益桥</p>\",\"label-en\":\"\",\"key\":\"公益桥\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/612571640575920.png\",\"settings\":{\"label\":\"<p style=\\\"text-align: center;\\\">志愿攻略</p>\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/612571640575920.png\"},\"link\":\"https://apphkap2zlh5843.h5.xiaoeknow.com\"},{\"label\":\"<p style=\\\"text-align: center;\\\">共进步</p><p style=\\\"text-align: center;\\\">Ranking List</p>\",\"label-en\":\"<p>Volunteer Ranking</p>\",\"key\":\"volunteer_rank\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/421531639969268.png\",\"settings\":{\"label\":\"<p style=\\\"text-align: center;\\\">志愿排行</p>\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-12/421531639969268.png\",\"label-en\":\"<p>Volunteer Ranking</p>\"},\"link\":\"/volunteer_rank\"}]],\"cert_title\":\"\",\"cert_org\":\"\",\"cert_cachet\":\"\",\"cert_auth_org\":\"\",\"open_volunteer_certificate\":0,\"in_blacklist\":0,\"org_info\":\"\",\"org_manual\":\"\",\"org_service\":\"\",\"org_service_tel\":\"\",\"org_service_guide\":\"\",\"custom_config\":{\"extends\":[{\"key\":\"邮箱-中金\",\"label\":\"邮箱\",\"type\":\"3\",\"options\":null,\"is_required\":1},{\"key\":\"用户身份-中金\",\"label\":\"用户身份\",\"type\":\"1\",\"options\":\"中金在职员工,爱心之友\",\"is_required\":1},{\"key\":\"员工号-中金\",\"label\":\"员工号\",\"type\":\"3\",\"options\":null,\"is_required\":0},{\"key\":\"部门--中金\",\"label\":\"所在部门\",\"type\":\"1\",\"options\":\"IB（投资银行部）,CM(资本市场部),EQ(股票业务部),SI(证券投资部）,RS(研究部）,CGI(中金研究院）,FI(固定收益部）,WM(财富管理部）,WSC(财富服务中心）,AM(资产管理部）,MF(中金基金）,CCM(中金资本管理部）,FM(公司管理部）,FO(综合办公室）,SD(战略发展部）,OP(运作部）,AC(资产托管部）,LC(法律合规部）,PR(公共关系部）,IA(内部审计部）,IT(信息技术部）,RM(风险管理部）,FC(财务部）,TR(资金部),HR(党委组织部/人力资源部),GA(行政管理部),EM(机构管理部),CO(党委办公室/党建工作部),PD(采购部）,IBI(投行业务内核部),CI(中金学院),SO(纪委办公室/风险督察办公室),SC(业务支持部)\",\"is_required\":0},{\"key\":\"中金-爱心之友\",\"label\":\"用户类型\",\"type\":\"1\",\"options\":\"老员工,员工亲友,其他\",\"is_required\":0}],\"open_real_name\":1,\"open_avatars\":0,\"open_id_number\":1,\"open_nation\":0,\"open_addr\":1},\"open_stars\":0,\"score_name\":\"\",\"st_point_uint\":[\"志愿\",\"积分\"],\"st_achieve_op\":0,\"st_rank_op\":0,\"demand_category\":[],\"demand_village\":[],\"menus_setting_open\":0,\"menus_setting\":null,\"default_province_id\":0,\"default_province_name\":\"全国\",\"default_city_id\":0,\"default_city_name\":\"\",\"default_county_id\":0,\"default_county_name\":\"\",\"language_change\":0,\"area_level\":2,\"volunteer_feedback\":1,\"funding_application\":0}');
      window.orgInfo = JSON.parse('{\"name\":\"溢彩星\",\"logo\":\"http://tkadmin.guangying.link/uploads/2022-11/792081668153951.png\",\"real_name_register\":1,\"module_settings\":[[{\"label\":\"志愿项目\",\"label-en\":\"<p>Project</p>\",\"key\":\"volunteer_project\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/124301668071311.png\",\"settings\":{\"label\":\"<p>志愿活动</p>\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/124301668071311.png\",\"label-en\":\"<p>Project</p>\"},\"link\":null},{\"label\":\"志愿团队\",\"label-en\":\"<p>Team</p>\",\"key\":\"volunteer_team\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/922201668071321.png\",\"settings\":{\"label\":\"志愿团队\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/922201668071321.png\",\"label-en\":\"<p>Team</p>\"},\"link\":null},{\"label\":\"社区互动\",\"label-en\":\"<p>Volunteer Interaction</p>\",\"key\":\"community_interact\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/123701668071333.png\",\"settings\":{\"label\":\"<p>志愿社区</p>\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/123701668071333.png\",\"label-en\":\"<p>Interaction</p>\"},\"link\":\"/my/circlevisits\"}],[{\"label\":\"<p>志愿攻略</p>\",\"label-en\":\"<p>Volunteer Knowle</p>\",\"key\":\"宝马志愿攻略\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/664871668071351.png\",\"settings\":{\"label\":\"<p>志愿知识</p>\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/664871668071351.png\",\"label-en\":\"<p>Volunteer Knowle</p>\"},\"link\":\"http://bmw.volzdx.com\"},{\"label\":\"志愿回馈\",\"label-en\":\"<p>Volunteer Rewords</p>\",\"key\":\"volunteer_feedback\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/264971668071365.png\",\"settings\":{\"label\":\"志愿回馈\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/264971668071365.png\",\"label-en\":\"<p>Volunteer Rewords</p>\"},\"link\":\"/shop\"},{\"label\":\"<p style=\\\"text-align: center;\\\">共进步</p><p style=\\\"text-align: center;\\\">Ranking List</p>\",\"label-en\":\"<p>Volunteer Ranking</p>\",\"key\":\"volunteer_rank\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/902511668071358.png\",\"settings\":{\"label\":\"<p>志愿排行</p>\",\"icon\":\"http://tkadmin.guangying.link/uploads/2022-11/902511668071358.png\",\"label-en\":\"<p>Volunteer Ranking</p>\"},\"link\":\"/volunteer_rank\"}]],\"cert_title\":\"\",\"cert_org\":\"\",\"cert_cachet\":\"http://api.volzdx.cn/images/uploads/2020-10/364851603545410.png\",\"cert_auth_org\":\"\",\"open_volunteer_certificate\":0,\"in_blacklist\":0,\"org_info\":\"\",\"org_manual\":\"<p>志多星志愿服务管理平台演示</p>\",\"org_service\":\"<p>志多星志愿服务管理平台演示</p>\",\"org_service_tel\":\"18302452457\",\"org_service_guide\":\"<p>志多星志愿服务管理平台演示</p><p>18302452457</p>\",\"custom_config\":{\"extends\":[{\"key\":\"用户身份-泰康\",\"label\":\"用户身份\",\"type\":\"1\",\"options\":\"泰康员工,泰康伙伴,泰康居民,社会公众\",\"is_required\":1},{\"key\":\"部门-泰康\",\"label\":\"所在部门\",\"type\":\"1\",\"options\":\"泰康集团,泰康人寿,泰康资产,泰康在线,泰康健投,泰康养老\",\"is_required\":0},{\"key\":\"泰康-居民\",\"label\":\"泰康居民\",\"type\":\"1\",\"options\":\"燕园,申园,粤园,蜀园,吴园,楚园,大清谷,锦绣府,湘园,赣园,鹭园,沈园,桂园,苏园,甬园,琴园,渝园,豫园,鹏园,儒园,徽园,瓯园,福园,津园,蒙园,滇园,浙园,锦官府\",\"is_required\":0},{\"key\":\"OA\",\"label\":\"OA账号\",\"type\":\"3\",\"options\":null,\"is_required\":0},{\"key\":\"代理人账号\",\"label\":\"代理人账号\",\"type\":\"3\",\"options\":null,\"is_required\":0}],\"open_real_name\":1,\"open_avatars\":0,\"open_id_number\":1,\"open_nation\":0,\"open_addr\":1},\"open_stars\":0,\"score_name\":\"\",\"st_point_uint\":[\"志愿\",\"星币\"],\"st_achieve_op\":0,\"st_rank_op\":0,\"demand_category\":[\"助老\",\"护童\"],\"demand_village\":[\"黄浦区\",\"静安区\",\"浦东新区\"],\"menus_setting_open\":0,\"menus_setting\":[[{\"href\":\"https://admin.volzdx.cn/login/yMYerkEaOB\",\"name\":\"未配置\",\"icons\":\"http://api.volzdx.cn/images/uploads/2020-09/501231600359323.jpeg\",\"icon\":\"http://api.volzdx.cn/images/uploads/2020-09/501231600359323.jpeg\"}]],\"default_province_id\":0,\"default_province_name\":\"\",\"default_city_id\":0,\"default_city_name\":\"\",\"default_county_id\":0,\"default_county_name\":\"\",\"language_change\":0,\"area_level\":1,\"volunteer_feedback\":1,\"funding_application\":0}');

    // window.orgInfo = JSON.parse('{"name":"西海岸文明实践","logo":"http://api.volzdx.cn/images/uploads/2019-07/620431562057036.jpg","real_name_register":1,"module_settings":[[{"label":"志愿团队","key":"volunteer_team","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png","settings":{"label":"志愿团队","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png"}},{"label":"志愿活动","key":"volunteer_project","icon":"http://api.volzdx.cn/images/uploads/2018-12/362691544419728.png","settings":{"label":"志愿活动","icon":"http://api.volzdx.cn/images/uploads/2018-12/362691544419728.png"}},{"label":"求助","label-en":"<p>favour</p>","key":"volunteer_demand","icon":"http://api.volzdx.cn/images/uploads/2019-11/999971572939031.png","settings":{"label":"我要求助","icon":"http://api.volzdx.cn/images/uploads/2019-11/999971572939031.png"},"link":"/demand"},{"label":"志愿攻略","key":"volunteer_strategy","icon":"http://api.volzdx.cn/images/uploads/2018-12/775261544419789.png","settings":{"label":"志愿培训","icon":"http://api.volzdx.cn/images/uploads/2018-12/775261544419789.png"}}]],"cert_title":"","cert_org":"","cert_cachet":"","cert_auth_org":"","open_volunteer_certificate":0,"in_blacklist":0,"org_info":"","org_manual":"","org_service":"","org_service_tel":"","org_service_guide":"","custom_config":{"open_real_name":1,"open_avatars":0,"open_id_number":1,"open_nation":1,"open_addr":1},"open_stars":0,"score_name":"","st_point_uint":["志愿","星币"],"st_achieve_op":0,"st_rank_op":0,"demand_category":["政策宣讲","文艺辅导","困难帮扶","社会关爱","培训"],"demand_village":["王台街道","长江路街道","黄岛街道","薛家岛街道","辛安街道","灵珠山街道","红石崖街道","灵山卫街道","隐珠街道","胶南街道","珠海街道","滨海街道","铁山街道","灵山岛省级自然保护区","张家楼镇","琅琊镇","藏马镇","泊里镇","大场镇","海青镇","大村镇","六汪镇","宝山镇"],"menus_setting_open":4,"menus_setting":null,"default_province_id":370000,"default_province_name":"山东省","default_city_id":370200,"default_city_name":"青岛市","default_county_id":0,"default_county_name":"全市","language_change":0,"area_level":4,"volunteer_feedback":0,"funding_application":0}');

    // window.orgInfo = JSON.parse('{"name":"志多星","logo":"http://api.volunteer.alpha.flashdiet.cn/images/uploads/2017-11/300371509591667.png","real_name_register":1,"module_settings":[[{"label":"志愿活动","key":"volunteer_project","icon":"http://api.volzdx.cn/images/uploads/2018-12/338771544419654.png","settings":{"label":"志愿活动","icon":"http://api.volzdx.cn/images/uploads/2018-12/338771544419654.png"}},{"label":"志愿团队","key":"volunteer_team","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png","settings":{"label":"志愿团队","icon":"http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png"}},{"label":"<p style=\\"text-align: center;\\">公益桥</p>","key":"公益桥","icon":"http://api.volzdx.cn/images/uploads/2020-03/380051583735593.jpg","settings":{"label":"<p style=\\"text-align: center;\\">公益桥</p>","icon":"http://api.volzdx.cn/images/uploads/2020-03/380051583735593.jpg"},"link":"https://m.qlchat.com/wechat/page/live/2000008135717024?openId=o09Gyt88FKrx730FTfpDqfhwAHL8"}],[{"label":"志愿回馈","key":"volunteer_feedback","icon":"http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png","settings":{"label":"志愿回馈","icon":"http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png"}},{"label":"<p style=\\"text-align: center;\\">志愿攻略a</p>","key":"志愿攻略","icon":"http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png","settings":{"label":"<p style=\\"text-align: center;\\">志愿攻略</p>","icon":"http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png"},"link":"http://m.guide.volzdx.cn"},{"label":"社区互动","key":"community_interact","icon":"http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png","settings":{"label":"社区互动","icon":"http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png"}}],[{"label":"<p>英文新建</p>","label-en":"<p>english</p>","key":"test-en2","icon":"http://localhost:5432/images/uploads/2020-10/228721603989895.gif","settings":{"label":"<p>英文新建</p>","icon":"http://localhost:5432/images/uploads/2020-10/228721603989895.gif"},"link":null},{"label":"<p>英文名称</p>","label-en":"<p>english</p>","key":"test-en","icon":"http://localhost:5432/images/uploads/2020-10/579611603989063.jpeg","settings":{"label":"<p>英文名称</p>","icon":"http://localhost:5432/images/uploads/2020-10/579611603989063.jpeg"},"link":"http://"}]],"cert_title":"","cert_org":"","cert_cachet":"http://api.volzdx.cn/images/uploads/2019-02/332291551239889.png","cert_auth_org":"","open_volunteer_certificate":0,"in_blacklist":0,"org_info":"<p>&nbsp; &nbsp; &nbsp; &nbsp;志多星是由和众泽益公益志愿服务中心倾情打造的志愿者服务信息化管理平台，我们的使命是致力于为政府、企业、社会组织和志愿服务组织提供一站式线上志愿者管理服务，最终实现打造共享智慧志愿社区的愿景。</p><p>&nbsp; &nbsp; &nbsp; &nbsp;志多星不仅整合开发了灵活注册、打卡计时、团队管理、活动管理、志愿攻略、志愿社区以及志愿保障等功能于一体，让志愿者管理机构能够随时、随地对团队、活动以及志愿者进行管理，让志愿者可以随时、随地参与志愿活动，更能够通过实名认证，将志愿服务数据与政府官方“志愿云”进行同步。同时，志多星积极响应政府对于志愿保障的倡导，创新性地将志愿保障纳入平台，为志愿者提供低价高保额的志愿服务定制保险产品，让志愿者安心、志愿机构放心。志多星提供了多样的线上志愿服务培训选择，让组织和志愿者可以随时随地接受专业的志愿服务培训。志多星还进一步为志愿者提供了激励回馈的平台，推动志愿服务在互联网+时代实现智慧、共享。</p>","org_manual":"<h3><a href=\\"http://mp.weixin.qq.com/s/YN2w9mpFFns3zePi8D6fNw\\"><strong>一、志愿者注册及使用</strong></a></h3><h3><a href=\\"http://mp.weixin.qq.com/s/YN2w9mpFFns3zePi8D6fNw\\"><strong>（点击即可查看详情）</strong></a></h3><p>1.登入志多星流程</p><p>2.注册账号流程</p><p>3.实名认证流程</p><p>4.如何加入志愿团队</p><p>5.如何报名志愿活动</p><h3><a href=\\"http://mp.weixin.qq.com/s/MKGNdEdk-3vCPLf4KEA1wQ\\"><strong>二、发布志愿活动说明</strong></a></h3><p>1.活动列表及字段解释</p><p>2.创建志愿活动</p><p>3.活动审核及注意事项</p><p>4.我的活动功能说明</p><p>5.录用管理功能说明</p><h3><a href=\\"https://mp.weixin.qq.com/s/BjTZlNVwYuJO3z946AFOGg\\"><strong>三、创建团队与管理</strong></a></h3><p>1.团队功能及字段说明</p><p>2.如何创建团队</p><p>3.如何用手机创建团队</p><p>4.审核团队注意事项</p><h3><a href=\\"https://mp.weixin.qq.com/s/CdiliujQH_RiDpbcIEjhyw\\"><strong>四、如何购买保险说明</strong></a></h3><p>1.保险险种与说明</p><p>2.志愿保险购买流程</p><h3><a href=\\"http://mp.weixin.qq.com/s/DpPQoWaN5TBwdyX-Ll5aNg\\"><strong>五、签到打卡设置说明 </strong></a></h3><p>1.设置签到码流程</p><p>2.志愿者如何使用签到打卡功能</p><p>3.如何补录时长</p>","org_service":"<h4>您可以通过以下方式联系志多星<br>微信：13240208305<br>电话：010-64804682转850<br>邮箱：zhiduoxing@hcvcchina.com<br>客服在线时间<br>10:00am-20:00pm<br>感谢您的支持</h4>","org_service_tel":"13240208305","org_service_guide":"<p>您好：如您申请修改实名认证信息，请联系：13240208305（微信同步）/1322088197（微信同步）</p>","custom_config":{"extends":[],"open_real_name":1,"open_avatars":0,"open_id_number":1,"open_nation":0,"open_addr":0,"real_name_register":1},"open_stars":1,"score_name":"","st_point_uint":["志愿","星币"],"st_achieve_op":0,"st_rank_op":0,"demand_category":null,"demand_village":null,"menus_setting_open":4,"menus_setting":null,"default_province_id":1,"default_province_name":"1","default_city_id":2,"default_city_name":"2","default_county_id":3,"default_county_name":"3","language_change":1,"area_level":4,"volunteer_feedback":1,"funding_application":0}');

    // window.orgInfo = JSON.parse('{"name":"济源市新时代文明实践志愿服务平台","logo":"http://api.volzdx.cn/images/uploads/2020-06/305761592446838.png","real_name_register":1,"module_settings":[[{"label":"志愿团队","label-en":"<p>Volunteer Team</p>","key":"volunteer_team","icon":"http://api.volzdx.cn/images/uploads/2020-11/172141605498379.png","settings":{"label":"志愿团队","icon":"http://api.volzdx.cn/images/uploads/2020-11/172141605498379.png","label-en":"<p>Volunteer Team</p>"},"link":null},{"label":"志愿活动","label-en":"<p>Volunteer Projec</p>","key":"volunteer_project","icon":"http://api.volzdx.cn/images/uploads/2020-11/634611605498409.png","settings":{"label":"<p>志愿活动</p>","icon":"http://api.volzdx.cn/images/uploads/2020-11/634611605498409.png","label-en":"<p>Volunteer Project</p>"},"link":null},{"label":"社区互动","label-en":"<p>Volunteer Interaction</p>","key":"community_interact","icon":"http://api.volzdx.cn/images/uploads/2020-12/239241607911429.png","settings":{"label":"<p>志愿社区</p>","icon":"http://api.volzdx.cn/images/uploads/2020-12/239241607911429.png","label-en":"<p>Volunteer Interaction</p>"},"link":"/my/circlevisits"}],[{"label":"志愿回馈","label-en":"<p>Volunteer Rewords</p>","key":"volunteer_feedback","icon":"http://api.volzdx.cn/images/uploads/2020-11/257551605498461.png","settings":{"label":"<p>积分商城</p>","icon":"http://api.volzdx.cn/images/uploads/2020-11/257551605498461.png","label-en":"<p>Volunteer Rewords</p>"},"link":"/shop"},{"label":"<p style=\\"text-align: center;\\">共进步</p><p style=\\"text-align: center;\\">Ranking List</p>","label-en":"<p>Volunteer Ranking</p>","key":"volunteer_rank","icon":"http://api.volzdx.cn/images/uploads/2020-11/706661605498521.png","settings":{"label":"<p>志愿排行</p>","icon":"http://api.volzdx.cn/images/uploads/2020-11/706661605498521.png","label-en":"<p>Volunteer Ranking</p>"},"link":"/volunteer_rank"},{"label":"求助","label-en":"<p>favour</p>","key":"volunteer_demand","icon":"http://api.volzdx.cn/images/uploads/2020-11/836241605498554.png","settings":{"label":"群众点单","icon":"http://api.volzdx.cn/images/uploads/2020-11/836241605498554.png"},"link":"/demand"}],[{"label":"星级榜样","label-en":"<p>Good Example</p>","key":"good_example","icon":"http://api.volzdx.cn/images/uploads/2020-11/370261605498625.png","settings":{"label":"文明宣讲","icon":"http://api.volzdx.cn/images/uploads/2020-11/370261605498625.png"},"link":"/sanlitun/starModel"},{"label":"<p style=\\"text-align: center;\\">志愿攻略a</p>","label-en":"","key":"志愿攻略","icon":"http://api.volzdx.cn/images/uploads/2020-11/281241605498670.png","settings":{"label":"<p style=\\"text-align: center;\\">志愿攻略</p>","icon":"http://api.volzdx.cn/images/uploads/2020-11/281241605498670.png"},"link":"http://m.guide.volzdx.cn"},{"label":"<p>实践基地</p>","label-en":"<p>Practice Base</p>","key":"practice_base","icon":"http://api.volzdx.cn/images/uploads/2021-02/139771612339443.png","settings":{"label":"<p>实践基地</p>","label-en":"<p>Practice Base</p>","icon":"http://api.volzdx.cn/images/uploads/2021-02/139771612339443.png"},"link":"/practice_base"}]],"cert_title":"","cert_org":"","cert_cachet":"","cert_auth_org":"","open_volunteer_certificate":0,"in_blacklist":0,"org_info":"<p>济源“互联网+”智慧志愿服务云平台活动，是以志愿服务技术平台为支撑，以志愿服务总队-支队-队为网络，以志愿服务活动为载体，搭建起的济源新时代文明实践中心线上平台，最终形成良性循环的志愿服务生态体系，为新时代文明实践中心真正提供系统保障、内生动力和长效机制。</p>","org_manual":"","org_service":"<p style=\\"text-align: center;\\">新时代文明实践中心</p><p style=\\"text-align: center;\\">志愿者服务中心</p><p style=\\"text-align: center;\\">&nbsp;0391-6635688</p>","org_service_tel":"","org_service_guide":"","custom_config":{"open_real_name":1,"open_avatars":null,"open_id_number":1,"open_nation":1,"open_addr":1},"open_stars":0,"score_name":"","st_point_uint":["志愿","星币"],"st_achieve_op":0,"st_rank_op":0,"demand_category":["政策宣讲","文艺辅导","困难帮扶","社会关爱","培训指导"],"demand_village":["济水街道","沁园街道","北海街道","天坛街道","玉泉街道","克井镇","五龙口镇","梨林镇","轵城镇","承留镇","坡头镇","大峪镇","邵原镇","思礼镇","王屋镇","下冶镇"],"menus_setting_open":3,"menus_setting":[[{"href":"https://mp.weixin.qq.com/mp/homepage?__biz=MjM5MjA3MzExNw==&hid=1&sn=267f7344fde81b0475011abea712a38e","name":"视频宣讲","icons":"http://api.volzdx.cn/images/uploads/2020-09/462621601273147.png","icon":"http://api.volzdx.cn/images/uploads/2020-09/462621601273147.png"},{"href":"https://wx8a0bca8d5ace0b82.wechat.volzdx.cn/my/circlevisits","name":"公益随手拍","icons":"http://api.volzdx.cn/images/uploads/2020-12/363111607911631.jpeg","icon":"http://api.volzdx.cn/images/uploads/2020-12/363111607911631.jpeg"},{"href":"https://admin.volzdx.cn/login/z3YaOYpdxq","name":"团队登录","icons":"http://api.volzdx.cn/images/uploads/2020-09/801541601273221.png","icon":"http://api.volzdx.cn/images/uploads/2020-09/801541601273221.png"}]],"default_province_id":410000,"default_province_name":"河南省","default_city_id":410881,"default_city_name":"济源市","default_county_id":0,"default_county_name":"","language_change":0,"area_level":3,"volunteer_feedback":1,"funding_application":0}');


    // window.orgInfo = {
    //   "name": "志多星",
    //   "logo": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-11/400251541057648.png",
    //   "real_name_register": 1,
    //   "module_settings": [
    //     [{
    //       "label": "志愿团队",
    //       "key": "volunteer_team",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/848611507952464.png"
    //     }, {
    //       "label": "志愿活动",
    //       "key": "volunteer_project",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/999161507952198.png"
    //     }, {
    //       "label": "志愿保障",
    //       "key": "volunteer_ensure",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/918461507952580.png"
    //     }, {
    //       "label": "志愿回馈",
    //       "key": "volunteer_feedback",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/838651507952615.png",
    //       "settings": {
    //         "label": "志愿回馈",
    //         "icon": "/uploads/2017-10/838651507952615.png"
    //       }
    //     }],
    //     [{
    //       "label": "时长记录",
    //       "key": "reward_history",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/323921507952861.png"
    //     }, {
    //       "label": "志愿攻略",
    //       "key": "volunteer_strategy",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/942591507952733.png"
    //     }, {
    //       "label": "服务中心",
    //       "key": "help_center",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/583531507952882.png",
    //       "settings": {
    //         "label": "客服中心"
    //       }
    //     }, {
    //       "label": "星级榜样",
    //       "key": "good_example",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-12/287281514167263.png",
    //       "settings": {
    //         "label": "星级榜样",
    //         "icon": "/uploads/2017-12/287281514167263.png"
    //       }
    //     }, {
    //       "label": "社区互动",
    //       "key": "community_interact",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/611041507952756.png",
    //       "settings": {
    //         "label": "社区互动",
    //         "icon": "/uploads/2017-10/611041507952756.png"
    //       }
    //     }],
    //     [{
    //       "label": "信息查询",
    //       "key": "volunteer_info",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/864991538873247.png",
    //       "settings": {
    //         "label": "重新设置",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/864991538873247.png"
    //       }
    //     }, {
    //       "label": "志愿机构",
    //       "key": "volunteer_platform",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/408331539159822.png",
    //       "settings": {
    //         "label": "志愿机构",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/408331539159822.png"
    //       }
    //     }, {
    //       "label": "活动认领",
    //       "key": "claim_project",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/470551539329049.png",
    //       "settings": {
    //         "label": "活动认领",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/470551539329049.png"
    //       }
    //     }, {
    //       "label": "志愿活动",
    //       "key": "volunteer_project",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/334661539328936.png",
    //       "settings": {
    //         "label": "志愿活动222",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/334661539328936.png"
    //       }
    //     }, {
    //                "label": "社区友好基金",
    //                "key": "funding_application",
    //                "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2019-02/169231551165981.png",
    //                "settings": {
    //                  "label": "社区友好基金",
    //                  "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2019-02/169231551165981.png"
    //                }
    //              }]
    //   ],
    //   "cert_title": "青岛市",
    //   "cert_org": "\b青岛市",
    //   "cert_cachet": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-11/957251509852803.png",
    //   "cert_auth_org": "青岛市志愿服务学院",
    //   "score_name": "牛币",
    //   "open_volunteer_certificate": 0,
    //   "org_info": "<p><img src=\"http://alpha.api.volunteer.tmallwo.com:8000/images/uploads/2018-01/484421515566903.png\" style=\"width: 300px;\" class=\"fr-dib\" data-status=\"0\" data-msg=\"ok\"></p><p>志多</p>",
    //   "org_manual": "<p>Test 234</p>",
    //   "org_service": "<p>请加微信&nbsp;</p><p><img src=\"http://alpha.api.volunteer.tmallwo.com:8000/images/uploads/2018-01/901661515566842.jpg\" style=\"width: 300px;\" class=\"fr-fil fr-dib\" data-status=\"0\" data-msg=\"ok\"></p><p><br></p><p><br></p>",
    //   "org_service_tel": "17710210877",
    //   "org_service_guide": "",
    //   "custom_config": {
    //     "extends": [{
    //       "key": "isStarbucksPartner",
    //       "label": "是否星巴克伙伴",
    //       "type": "1",
    //       "options": "是,否",
    //       "is_required": 1
    //     }],
    //     "open_real_name": 1,
    //     "open_avatars": 0,
    //     "open_id_number": 1,
    //     "open_nation": 0,
    //     "open_addr": 0,
    //     "real_name_register": 0
    //   },
    //   "open_stars": 1
    // }

    // window.orgInfo = JSON.parse('{\"name\":\"泰康溢彩公益平台\",\"logo\":\"http://api.volzdx.cn/images/uploads/2022-09/773521663230736.jpeg\",\"real_name_register\":1,\"module_settings\":[[{\"label\":\"志愿项目\",\"label-en\":\"<p>Project</p>\",\"key\":\"volunteer_project\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/801891618808750.png\",\"settings\":{\"label\":\"志愿项目\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/801891618808750.png\",\"label-en\":\"<p>Project</p>\"},\"link\":null},{\"label\":\"志愿团队\",\"label-en\":\"<p>Team</p>\",\"key\":\"volunteer_team\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/309211618803382.png\",\"settings\":{\"label\":\"志愿团队\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/309211618803382.png\",\"label-en\":\"<p>Team</p>\"},\"link\":null},{\"label\":\"社区互动\",\"label-en\":\"<p>Volunteer Interaction</p>\",\"key\":\"community_interact\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/510771618803426.png\",\"settings\":{\"label\":\"<p>互动社区</p>\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/510771618803426.png\",\"label-en\":\"<p>Interaction</p>\"},\"link\":\"/my/circlevisits\"}],[{\"label\":\"<p>志愿攻略</p>\",\"label-en\":\"<p>Volunteer Knowle</p>\",\"key\":\"宝马志愿攻略\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/861731618803525.png\",\"settings\":{\"label\":\"<p>志愿知识</p>\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/861731618803525.png\",\"label-en\":\"<p>Volunteer Knowle</p>\"},\"link\":\"http://bmw.volzdx.com\"},{\"label\":\"<p style=\\\"text-align: center;\\\">共进步</p><p style=\\\"text-align: center;\\\">Ranking List</p>\",\"label-en\":\"<p>Volunteer Ranking</p>\",\"key\":\"volunteer_rank\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/581431618803775.png\",\"settings\":{\"label\":\"<p>志愿排行</p>\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/581431618803775.png\",\"label-en\":\"<p>Volunteer Ranking</p>\"},\"link\":\"/volunteer_rank\"},{\"label\":\"志愿回馈\",\"label-en\":\"<p>Volunteer Rewords</p>\",\"key\":\"volunteer_feedback\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/883511618803582.png\",\"settings\":{\"label\":\"志愿回馈\",\"icon\":\"http://api.volzdx.cn/images/uploads/2021-04/883511618803582.png\",\"label-en\":\"<p>Volunteer Rewords</p>\"},\"link\":\"/shop\"}]],\"cert_title\":\"\",\"cert_org\":\"\",\"cert_cachet\":\"http://api.volzdx.cn/images/uploads/2020-10/364851603545410.png\",\"cert_auth_org\":\"\",\"open_volunteer_certificate\":0,\"in_blacklist\":0,\"org_info\":\"\",\"org_manual\":\"<p>志多星志愿服务管理平台演示</p>\",\"org_service\":\"<p>志多星志愿服务管理平台演示</p>\",\"org_service_tel\":\"18302452457\",\"org_service_guide\":\"<p>志多星志愿服务管理平台演示</p><p>18302452457</p>\",\"custom_config\":{\"extends\":[],\"open_real_name\":1,\"open_avatars\":0,\"open_id_number\":0,\"open_nation\":0,\"open_addr\":0},\"open_stars\":0,\"score_name\":\"\",\"st_point_uint\":[\"志愿\",\"星币\"],\"st_achieve_op\":0,\"st_rank_op\":0,\"demand_category\":[\"助老\",\"护童\"],\"demand_village\":[\"黄浦区\",\"静安区\",\"浦东新区\"],\"menus_setting_open\":0,\"menus_setting\":[[{\"href\":\"https://admin.volzdx.cn/login/yMYerkEaOB\",\"name\":\"未配置\",\"icons\":\"http://api.volzdx.cn/images/uploads/2020-09/501231600359323.jpeg\",\"icon\":\"http://api.volzdx.cn/images/uploads/2020-09/501231600359323.jpeg\"}]],\"default_province_id\":0,\"default_province_name\":\"\",\"default_city_id\":0,\"default_city_name\":\"\",\"default_county_id\":0,\"default_county_name\":\"\",\"language_change\":0,\"area_level\":1,\"volunteer_feedback\":1,\"funding_application\":0}');
  //  window.orgInfo = JSON.parse('{"name":"维他奶员工志愿者","logo":"http://api.volzdx.cn/images/uploads/2022-08/256441659599708.jpeg","real_name_register":1,"module_settings":[[{"label":"志愿项目","label-en":"<p>Project</p >","key":"volunteer_project","icon":"http://api.volzdx.cn/images/uploads/2022-08/600741660098766.png","settings":{"label":"志愿项目","icon":"http://api.volzdx.cn/images/uploads/2022-08/600741660098766.png","label-en":"<p>Project</p >"},"link":null},{"label":"志愿团队","label-en":"<p>Team</p >","key":"volunteer_team","icon":"http://api.volzdx.cn/images/uploads/2022-08/874751660098778.png","settings":{"label":"志愿团队","icon":"http://api.volzdx.cn/images/uploads/2022-08/874751660098778.png","label-en":"<p>Team</p >"},"link":null},{"label":"<p style=\\"text-align: center;\\">志愿攻略a</p >","label-en":"<p>&nbsp;Knowledge</p >","key":"志愿攻略","icon":"http://api.volzdx.cn/images/uploads/2022-08/680981660098785.png","settings":{"label":"<p style=\\"text-align: center;\\">志愿攻略</p >","icon":"http://api.volzdx.cn/images/uploads/2022-08/680981660098785.png","label-en":"<p>&nbsp;Knowledge</p >"},"link":"http://m.guide.volzdx.cn"}],[{"label":"社区互动","label-en":"<p>Interaction</p >","key":"community_interact","icon":"http://api.volzdx.cn/images/uploads/2022-08/561191660098792.png","settings":{"label":"社区互动","icon":"http://api.volzdx.cn/images/uploads/2022-08/561191660098792.png","label-en":"<p>Interaction</p >"},"link":"/my/circlevisits"},{"label":"<p style=\\"text-align: center;\\">共进步</p ><p style=\\"text-align: center;\\">Ranking List</p >","label-en":"<p>Volunteer Ranking</p >","key":"volunteer_rank","icon":"http://api.volzdx.cn/images/uploads/2022-08/733781661311636.png","settings":{"label":"<p>志愿排行</p >","icon":"http://api.volzdx.cn/images/uploads/2022-08/733781661311636.png","label-en":"<p>Volunteer Ranking</p >"},"link":"/volunteer_rank"},{"label":"服务中心","label-en":"<p>Help Center</p >","key":"help_center","icon":"http://api.volzdx.cn/images/uploads/2022-08/286461660098811.png","settings":{"label":"服务中心","icon":"http://api.volzdx.cn/images/uploads/2022-08/286461660098811.png"},"link":"/my/service"}]],"cert_title":"","cert_org":"","cert_cachet":"","cert_auth_org":"","open_volunteer_certificate":0,"in_blacklist":0,"org_info":"<p>本平台是维他奶有限公司的官方志愿者管理系统，旨在搭建一个内外部沟通的平台，主要用于志愿者的日常管理、项目运维，保障志愿者的权利及义务，让员工深度体验维他奶企业文化，助力维他奶可持续发展愿景落地，增强团队凝聚力；对外可将公司可持续发展的态度和实践带给公众，为实现社会的可持续发展贡献力量。</p >","org_manual":"<p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/790191665370320.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p ><p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/495811665370333.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p ><p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/678321665370342.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p ><p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/167621665370349.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p ><p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/441991665370425.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p ><p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/780151665370375.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p ><p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/606511665370439.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p ><p style=\\"text-align: justify;\\">< img src=\\"http://api.volzdx.cn/images/uploads/2022-10/408501665370446.png\\" style=\\"width: 300px;\\" class=\\"fr-dib\\" data-status=\\"0\\" data-msg=\\"ok\\"></p >","org_service":"<p style=\\"text-align: center;\\">技术服务邮箱：luoyigan@hcvcchina.com<br><br></p >","org_service_tel":"","org_service_guide":"","custom_config":{"open_real_name":1,"open_avatars":null,"open_id_number":null,"open_nation":null,"open_addr":null},"open_stars":0,"score_name":"","st_point_uint":["志愿","星币"],"st_achieve_op":0,"st_rank_op":0,"demand_category":[],"demand_village":[],"menus_setting_open":0,"menus_setting":null,"default_province_id":0,"default_province_name":"全国","default_city_id":0,"default_city_name":"","default_county_id":0,"default_county_name":"","language_change":0,"area_level":2,"volunteer_feedback":0,"funding_application":0}');
    //VWPe9xdLyw
    // VolejRejNm
    // qM7e5Ba2vp
    // 4openRe7Az
    // window.orgCode = "QJ0dNk6eLO";
    // yMYerkEaOB 测试环境， 志多星演示版 
    // joQeZJepZV
    // QJ0dNk6eLO 武清 68
    // window.orgCode = LYqaQWldnj; //巾帼志愿 71

    // window.orgCode = "mWZdPNwaKg";  //BMW
    // window.orgCode = "4openRe7Az";  // 中金 // 测试环境
    // window.orgCode = "kQBeXDWeyK";  // 中金 // 正式环境
    // window.orgCode = "4y1aKrReQG"  // 西海岸
    // window.orgCode = "z3YaOYpdxq"; // 济源 正式环境
    // window.orgCode = "yJrb2kKdWL";  // 三一重工 // 正式环境
    // window.orgCode = "EKQe1wRbJY";  // 维他奶正式环境
    // window.orgCode = "KGRb4x1bBL";  // 七只小鹿正式环境
    window.orgCode = "yMYerkEaOB";  // 泰康测试
    
    window.serviceCategory = [
      "赛事服务",
      "应急救援",
      "城市运⾏",
      "文化教育",
      "关爱服务",
      "社区服务",
      "医疗卫⽣",
      "绿⾊环保",
      "在线志愿服务",
      "国际服务",
      "其他"
    ];
    window.serviceTarget = [
      "⼉童",
      "⻘少年",
      "孤寡⽼⼈",
      "残障⼈⼠",
      "优抚对象",
      "特困群体",
      "其他"
    ];
    // server 下发的个人擅长, 用于用户资料填写
    window.goodAt = [
      "关爱服务",
      "国际服务",
      "社区服务",
      "应急救援",
      "赛事服务",
      "医疗卫生",
      "绿色环保",
      "文化倡导",
      "教育",
      "助残",
      "助老",
      "其他"
    ];
    window.serviceArea = [{
      value: '扶贫',
      label: '扶贫'
    }, {
      value: '济困',
      label: '济困'
    }, {
      value: '扶老',
      label: '扶老'
    }, {
      value: '救孤',
      label: '救孤'
    }, {
      value: '恤病',
      label: '恤病'
    }, {
      value: '助残',
      label: '助残'
    }, {
      value: '救灾',
      label: '救灾'
    }, {
      value: '助医',
      label: '助医'
    }, {
      value: '助学',
      label: '助学'
    }, {
      value: '环保',
      label: '环保'
    }, {
      value: '公共文化',
      label: '公共文化'
    }, {
      value: '大型赛会',
      label: '大型赛会'
    }, {
      value: '其他服务',
      label: '其他服务'
    }];
    // server 下发的服务类型,可用于过滤等
    window.teamCategory = [
      "党政机关",
      "教育事业单位",
      "卫生事业单位",
      "科技事业单位",
      "文化事业单位",
      "社会福利利事业单位",
      "其他事业单位",
      "群团组织",
      "居委会或村委会",
      "国有企业",
      "民营企业",
      "社会团体",
      "社会服务机构",
      "基金会"
    ];
    if (window.userAgent && window.wxConfig) {
      try {

        if (typeof window.wxConfig === "string") {
          window.wxConfig = JSON.parse(window.wxConfig);
        }
        window.wx.config(wxConfig);

      } catch (e) {
        alert(e);
      }
    }

    document.title = window.orgInfo.name;

    window.dev = true;

  </script>
</head>

<body>
  <div id="container"></div>
  <script charset="utf-8"="http://map.qq.com/api/js?v=2.exp&key=GT7BZ-UXACR-R2JWZ-WYSXR-DHWJV-VEFAI"></script>
  <script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
  <script src="<%= bundle %>"></script>

</body>

</html>