<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="x5-orientation" content="portrait" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta name="last-build-time" content="<%= lastBuild %>" />
  <!-- link rel="apple-touch-icon" href="apple-touch-icon.png" -->
  <script>
    var designWidth = 375;
    var screenWidth = screen.width;
    var scale = screenWidth / designWidth;
    var meta =
      '<meta name="viewport" content="width=' +
      designWidth +
      ", initial-scale=" +
      scale +
      ", maximum-scale=" +
      scale +
      ", minimum-scale=" +
      scale +
      ', user-scalable=no, viewport-fit=contain, target-densitydpi=device-dpi, minimal-ui" >';
    document.write(meta);

    // 调试工具，url 中加入 debug 开启
    (function () {
      if (!/debug/.test(window.location)) return;
      var src = "/lib/eruda.min.js";
      document.write("<scr" + 'ipt src="' + src + '"></scr' + "ipt>");
      document.write("<scr" + "ipt>eruda.init();</scr" + "ipt>");
    })();

  </script>
  <script src="/lib/jweixin-1.6.0.js"></script>
  <!-- <script src="https://js.fundebug.cn/fundebug.1.5.0.min.js" apikey="0e6d72e0b2c12d6d572ab35d4869c463b315c24bf7f2a62f2edd329958d8b8a2"></script> -->
  <script>
    window.userAgent = false //true:微信浏览器   false:h5
    // 微信 config，类型可以是 JS Object 或者 JSON 字符串
    window.wxConfig = {}; // 或者 '{}'
    // http://api.volunteer.alpha.guangying.link/api/v1
    // http://alpha.api.volunteer.tmallwo.com:8000
    // window.apiHost = "http://192.168.1.104:7878";
    window.apiHost = "https://bmw.api.volzdx.cn/";

    // server 端下发 token
    window.token = null;

    // window.orgInfo = { "name": "志多星演示版", language_change: 0, "logo": "http://api.volzdx.cn/images/uploads/2020-02/488211582098336.png", "real_name_register": 1, "module_settings": [[{ "label": "志愿项目", "key": "volunteer_project", "icon": "http://api.volzdx.cn/images/uploads/2018-12/362691544419728.png", "settings": { "label": "志愿活动", "icon": "http://api.volzdx.cn/images/uploads/2018-12/362691544419728.png" } }, { "label": "志愿团队", "key": "volunteer_team", "icon": "http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png", "settings": { "label": "志愿团队", "icon": "http://api.volzdx.cn/images/uploads/2018-12/628361544419742.png" } }, { "label": "志愿回馈", "key": "volunteer_feedback", "icon": "http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png", "settings": { "label": "积分商城", "icon": "http://api.volzdx.cn/images/uploads/2018-12/999921544419765.png" } }], [{ "label": "社区互动", "key": "community_interact", "icon": "http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png", "settings": { "label": "社区互动", "icon": "http://api.volzdx.cn/images/uploads/2018-12/622481544419799.png" }, "link": null }, { "label": "<p style=\"text-align: center;\">志愿攻略a</p>", "key": "志愿攻略", "icon": "http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png", "settings": { "label": "<p style=\"text-align: center;\">志愿攻略</p>", "icon": "http://api.volzdx.cn/images/uploads/2020-02/529131582617134.png" }, "link": "http://m.guide.volzdx.cn" }, { "label": "<p style=\"text-align: center;\">共进步</p><p style=\"text-align: center;\">Ranking List</p>", "key": "volunteer_rank", "icon": "http://api.volzdx.cn/images/uploads/2019-12/403011575861956.png", "settings": { "label": "<p style=\"text-align: center;\">志愿排行</p>", "icon": "http://api.volzdx.cn/images/uploads/2019-12/403011575861956.png" }, "link": null }]], "cert_title": "济源市", "cert_org": "济源志愿服务中心", "cert_cachet": "http://api.volzdx.cn/images/uploads/2019-03/731581552708016.png", "cert_auth_org": "济源志愿服务中心", "open_volunteer_certificate": 0, "in_blacklist": 0, "org_info": "<p>志多星志愿服务管理平台演示</p>", "org_manual": "<p>志多星志愿服务管理平台演示</p>", "org_service": "<p>志多星志愿服务管理平台演示</p>", "org_service_tel": "18302452457", "org_service_guide": "<p>志多星志愿服务管理平台演示</p><p>18302452457</p>", "custom_config": { "extends": [{ "key": "test_muti_select", "label": "多选测试", "type": "2", "options": "选项A,选项B,选项C,选项D", "is_required": 1 }], "open_real_name": 1, "open_avatars": 0, "open_id_number": 1, "open_nation": 0, "open_addr": 1 }, "open_stars": 0, "score_name": "", "st_point_uint": ["志愿", "星币"], "st_achieve_op": 1, "st_rank_op": 1, "demand_category": null, "demand_village": null, "menus_setting_open": 4, "menus_setting": null, "default_province_id": 420000, "default_province_name": "湖北省", "default_city_id": 0, "default_city_name": "全省", "default_county_id": 0, "default_county_name": "", "area_level": 3, "volunteer_feedback": 1, "funding_application": 0 }

        window.orgInfo = {"name":"BMW企业志愿者协会","logo":"http://api.volzdx.cn/images/uploads/2020-06/942601592303291.jpg","real_name_register":1,"module_settings":[[{"label":"志愿项目","label-en":"<p>Volunteer Projec</p>","key":"volunteer_project","icon":"http://api.volzdx.cn/images/uploads/2020-11/411121604238703.png","settings":{"label":"志愿项目","icon":"http://api.volzdx.cn/images/uploads/2020-11/411121604238703.png","label-en":"<p>Project</p>"},"link":null},{"label":"志愿团队","label-en":"<p>Volunteer Team</p>","key":"volunteer_team","icon":"http://api.volzdx.cn/images/uploads/2020-11/782461604238748.png","settings":{"label":"志愿团队","icon":"http://api.volzdx.cn/images/uploads/2020-11/782461604238748.png","label-en":"<p>Team</p>"},"link":null},{"label":"志愿回馈","label-en":"<p>Volunteer Rewords</p>","key":"volunteer_feedback","icon":"http://api.volzdx.cn/images/uploads/2020-11/991541604238770.png","settings":{"label":"志愿回馈","icon":"http://api.volzdx.cn/images/uploads/2020-11/991541604238770.png","label-en":"<p>Rewards</p>"},"link":null}],[{"label":"社区互动","label-en":"<p>Volunteer Interaction</p>","key":"community_interact","icon":"http://api.volzdx.cn/images/uploads/2020-11/590571604238799.png","settings":{"label":"<p>志愿互动</p>","icon":"http://api.volzdx.cn/images/uploads/2020-11/590571604238799.png","label-en":"<p>Interaction</p>"},"link":null},{"label":"<p>志愿攻略</p>","label-en":"<p>Volunteer Knowle</p>","key":"宝马志愿攻略","icon":"http://api.volzdx.cn/images/uploads/2020-08/689531597895735.png","settings":{"label":"<p>志愿攻略</p>","icon":"http://api.volzdx.cn/images/uploads/2020-08/689531597895735.png","label-en":"<p>Knowledge</p>"},"link":"http://bmw.volzdx.com"},{"label":"<p>志愿排行</p>","label-en":"<p>Volunteer Ranking</p>","key":"宝马志愿","icon":"http://api.volzdx.cn/images/uploads/2020-11/870091604215495.png","settings":{"label":"<p>志愿排行</p>","icon":"http://api.volzdx.cn/images/uploads/2020-11/870091604215495.png","label-en":"<p>Ranking</p>"},"link":"https://wx3ff183e9aee6ce39.wechat.volzdx.cn/volunteer_rank"}]],"cert_title":"","cert_org":"","cert_cachet":"","cert_auth_org":"","open_volunteer_certificate":0,"in_blacklist":0,"org_info":"<p style=\"text-align: center;\">&nbsp; &nbsp; &nbsp; <span lang=\"EN-US\">BMW Corporate Volunteer Association</span></p><p><br></p><p>&nbsp; &nbsp; &nbsp; 本平台是BMW的官方志愿者管理系统，旨在携手BMW员工、经销商、爱心车主在内的众多利益相关方，着力打造一个多方参与、更大规模、更具影响力的公益平台，主要用于BMW员工、经销商、爱心车主志愿者的日常管理、项目运维及公益志愿项目的品牌传播，保障志愿者的权利及义务，共同承担社会责任。基于“共同的社会责任原则”，期待员工、经销商和爱心车主都会为志愿活动做出贡献。</p><p>&nbsp; &nbsp; &nbsp; This platform is BMW’s official volunteer management system, aimed at cooperating with many stakeholders including BMW associates, dealers and customers to build a multi-party, larger-scale, and more influential public welfare platform. It is mainly used for daily management of BMW volunteers, guarantee of rights and obligations, project operation and brand communication of volunteer service activities to share social responsibility. Based on the “Joint Social Responsibility” principle, both the company, associates, dealers, customers are expected to contribute to volunteer activities.</p><p>&nbsp; &nbsp; &nbsp; 有了我们员工、经销商、爱心车主对BMW志愿服务活动积极且持之以恒的参与，定会推动更多人参与公益生态建设，促进和加强BMW作为一名负责任的企业公民的可持续贡献。让我们在悦人悦己且精彩非凡的BMW企业社会责任之路上继续携手同行。</p><p>&nbsp; &nbsp; &nbsp; With all of our associates’, dealers’ and customers’ proactive and consistent engagement in the BMW volunteer service activities, it will definitely boost and strengthen our sustainable contribution as responsible corporate citizen. Let’s embark on the pleasant and extraordinary journey of BMW Corporate Social Responsibility together.</p>","org_manual":"<p><strong>1. 为什么需要实名注册？</strong></p><p>Why is real-name authentication registration required?</p><p>&nbsp; &nbsp; &nbsp; 《志愿服务条例》第二章第七条要求：志愿者可以将其身份信息、服务技能、服务时间、联系方式等个人基本信息，通过国务院民政部门指定的志愿服务信息系统自行注册，也可以通过志愿服务组织进行注册。志愿者提供的个人基本信息应当真实、准确、完整。</p><p>&nbsp; &nbsp; &nbsp; 同时，为了落实中央关于志愿服务制度化和信息化建设有关部署要求的重要举措，提供与符合《志愿服务信息系统基本规范》的其他系统对接交换数据接口，因此，要求所有志愿者必须实名注册。</p><p>&nbsp; &nbsp; &nbsp; Volunteer Service Regulations requires: Volunteers can register their basic personal information, such as identity information, service skills, service time, and contact information, through the volunteer service information system designated by the Civil Affairs Department of the State Council, or through volunteer service organizations. The basic personal information provided by volunteers should be true, accurate and complete.</p><p><br></p><p><strong>2. 如何报名参加志愿活动？</strong></p><p><br></p><p>How do I sign up for volunteer activities?</p><p>1) 进入首页，点击【志愿项目】。</p><p>Go to the homepage and click【Project】.</p><p><br></p><p>2) 进入志愿项目列表页面，选择要参加的志愿项目，支持按照关键字搜索。</p><p>Enter the project list page, select the volunteer activity you want to participate in, support searching by keywords.</p><p><br></p><p>3) 进入志愿项目详情页，点击【我要报名】报名参加志愿项目。</p><p>Enter the activity details page and click【Sign up】to sign up for this activity.&nbsp;</p><p><br></p><p>4) 报名后等待项目管理员录用,结果会以手机短信形式推送。</p><p>After sign-up, wait for the approval, and the result will be notified by SMS and platform message.</p><p><br></p><p><strong>3. 临时有事，如何退出已经报名成功的志愿活动？</strong></p><p>How do I withdraw from a volunteer activity&nbsp;after the successful registration?</p><p><br></p><p>1) 进入首页，点击【个人中心】。</p><p>Go to the homepage and click【Personal center】.</p><p><br></p><p>2) 点击【我的项目】，选择要退出的志愿活动。</p><p>Click【My project】, choose the volunteer activity you’d like to quit.</p><p><br></p><p>3) 在报名参加的项目详情页,点击【我要退出】,页面上方会显示退出成功。</p><p>You can click【Quit】on the activity details page, and the top of the page will show that you have successfully quit.</p><p><br></p><p><strong>4. 如何签到打卡，获得志愿服务时长？</strong></p><p>How do I check in to accurately record the volunteer hours?</p><p><br></p><p>1) 到达活动现场，进入首页，点击页面底部【签到打卡】。</p><p>When you arrive at event site, go to the homepage and click【Check in】at the bottom of the page.</p><p><br></p><p>2) 进入签到打卡页面，查看所有可以签到的项目，选择待打卡的项目。</p><p>After entering the【Check in】page, you can see all the activities that can be checked-in, and select the activity to be checked-in.</p><p><br></p><p>3) 点击【签到打卡】完成打卡操作。</p><p>Click【Check in】to complete the operation.</p><p><br></p><p>4) 也可以在活动现场扫描签到码完成签到。</p><p>You can also scan the code at the event site to complete the check-in.</p><p><br></p><p><strong>5. 我自己去幼儿园/小学为学生上了一堂儿童交通安全体验课，如何记录志愿服务时长？</strong></p><p>I went to a kindergarten or primary school to teach a traffic safety experience class for students. How do I record my volunteer hours?</p><p><br></p><p>1) 进入首页，点击【BMW CTSE Volunteering Activity】，进行报名。</p><p>Go to the homepage, and click【BMW CTSE Volunteering Activity】for sign-up.</p><p><br></p><p>2) 返回首页，点击【时长申请】，还可以通过右下角的【个人中心】，点击【申请服务时长】。</p><p>Back to the homepage, click【Time】. You can also apply for volunteer hours through the&nbsp;【Personal center】at the bottom right corner of the homepage and click【Application for volunteer hours】.</p><p><br></p><p>3) 进入时长申请页面，点击页面下方的申请补卡。</p><p>Enter the application page and click【Application after the activity】at the bottom of the page.</p><p><br></p><p>4) 参与项目选择【BMW CTSE Volunteering Activity】，按照要求逐一填写信息，申请说明部分写清楚活动时间、地点、内容、志愿者人数、受益人数等活动相关信息，并上传活动照片作为佐证。</p><p>Fill in the information as required, provide the information such as the time, location, number of volunteers, number of beneficiaries and other activity description and upload photos as supporting evidence.</p><p><br></p><p>5) 填写完成后点击提交，管理员会根据志愿者提交的申请信息，通过审核或者驳回。如果通过审核，则志愿者可获得申请的补录时长。如果不通过，则不能获得申请时长，志愿者收到驳回通知后，也可以重新提交补录申请。</p><p>Click&nbsp;【Submit】&nbsp;after filling in, please wait for the administrator to review. After approval, the volunteer can get the volunteer hours and vice versa.</p><p><br></p><p><strong>6. 如何加入或者退出志愿团队？</strong></p><p>How I join or quit from a volunteer team?</p><p><br></p><p>1) 进入首页，点击【志愿团队】。</p><p>Go to the homepage and click【Team】.</p><p><br></p><p>2) 进入志愿团队列表页面，选择要加入的志愿团队，支持按照关键字搜索。</p><p>Enter the team list page, select the volunteer team you want to join, support searching by keywords.</p><p><br></p><p>3) 进入志愿团队详情页，点击【我要加入】申请加入该团队，等待后台管理员审核，审核通过方可加入，否则无法加入。</p><p>Enter the team details page and click【Join】to apply to join the team, then wait for the approval. You can join after getting the permission and vice versa.</p><p><br></p><p>4) 在加入该团队后，在志愿团队详情页，点击【我要退出】，志愿者即可实时退出该团队。</p><p>After joining the team, click【Quit】on the team details page, and the volunteer will no longer be a member of the team.</p><p><br></p><p><strong>7. 如何获得志愿服务证书？</strong></p><p>How do I get my volunteer certificate?</p><p><br></p><p>&nbsp; &nbsp; 进入首页，进入【个人中心】，点击【我的证书】，系统会根据您个人参加的志愿活动和志愿服务时长生成专属个人志愿服务证书。在证书页面，您还可以通过点击右上角，进行证书的分享。</p><p>&nbsp; &nbsp; Go to the home page and click【Personal center】, through【My certificate】, the platform will generate an exclusive personal volunteer certificate. You can also click the upper right corner to share the certificate.</p><p><br></p><p><strong>8. 如何查看或者分享参加志愿活动的心得或者感谢？</strong></p><p>How I view or share my thoughts after participating in the activity?</p><p><br></p><p>&nbsp; &nbsp;<strong>&nbsp;方法一/Method 1：</strong></p><p>1) 进入首页，点击【志愿互动】。</p><p>Go to the homepage and click【Interaction】.</p><p><br></p><p>2) 进入志愿互动页面之后，可以看到其他志愿者发布的动态，进行点赞或留言。</p><p>Enter the interaction page, you can view the posts wrote by other volunteers and leave a comment.&nbsp;</p><p><br></p><p>3) 在志愿互动页面的右下角，点击加号，即可进入动态发布页面，自由分享自己的想法;还可以点击加号，上传图片，丰富自己分享的内容。</p><p>You can also click【+】in the lower right corner, and share your ideas freely. You can also click【+】to upload pictures to enrich the contents you share.</p><p><br></p><p>&nbsp; &nbsp;<strong> 方法二/Method 2：</strong></p><p>1) 进入首页，点击【个人中心】，通过【我的项目】，进入自己已经被录用的项目详情页。</p><p>Go to the homepage and click【Personal center】, through 【My project】, enter the activity details page.&nbsp;</p><p><br></p><p>2) 在项目详情页，点击右上角的【项目社区】，可以看到其他志愿者发布的动态，进行点赞或留言。</p><p>On the activity details page, click【Project community】&nbsp;in the upper right corner, you can view the posts wrote by other volunteers. Click the post on the page, you can give a like or leave a comment.</p><p><br></p><p>3) 在项目社区页面的右下角，点击加号，即可进入动态发布页面，分享自己关于这个项目的想法，还可以点击加号，上传图片，丰富自己分享的内容。</p><p>Click【+】in the lower right corner of the【Project community】page, share your ideas freely. You can also click【+】to upload pictures to enrich the contents you share.</p><p><br></p><p><strong>9. 星币是什么，有什么用？</strong></p><p>What are scores used for?</p><p><br></p><p>&nbsp; &nbsp; 星币是由您使用BMW企业志愿服务平台获得相应积分奖励，您可通过每日登录平台、参加志愿活动、发布动态等方式进行积累，具体获取方法参见【个人中心】-【志愿星币】。您可以使用星币在平台首页的【志愿回馈】换取相应的奖励。</p><p>&nbsp; &nbsp; Scores are rewarded by you using the BMW Corporate Volunteer Service Platform. You can accumulate them by logging in to the platform every day, participating in volunteer activities, posting news, etc. For details, please refer to【Personal center】-【My score】. You can use redeem rewards in 【Rewards】 on the homepage of the platform.</p><p><br></p><p><strong>10. 我是否可以添加我的家人为志愿者，他们能不能获得志愿服务时长及证书？</strong></p><p>Can I add my family members as volunteers, can they get the volunteer hours and certificate?</p><p><br></p><p>1) 进入首页，点击【个人中心】，通过【我的家庭】，补充填写您的家人实名信息。</p><p>Go to the homepage and click【Personal center】, through【My family】, fill in the real-name information of your family.</p><p><br></p><p>2) 您的家人同样可以参加志愿活动，获得相应的志愿服务时长和证书。</p><p>Your family members can also participate in volunteer activities and get corresponding volunteer hours and certificate.</p>","org_service":"<p style=\"text-align: center;\"><br>运营客服邮箱/Operation customer service：geyiming@hcvcchina.com</p><p style=\"text-align: center;\"><br></p><p style=\"text-align: center;\">技术客服邮箱/Technical customer service：luoyigan@hcvcchina.com</p><p style=\"text-align: center;\"><br></p>","org_service_tel":"","org_service_guide":"","custom_config":{"open_real_name":1,"open_avatars":0,"open_id_number":1,"open_nation":0,"open_addr":1,"extends":[{"key":"user_type","label":"身份类型/Identity type","type":"1","options":"宝马员工/BMW associate,经销商员工/BMW dealer,宝马车主/BMW car owner,公众/Public","is_required":1},{"key":"company_affiliation","label":"所属公司/Company","type":"1","options":"BBA-BJ,BBA-SY,NSC,SF,BCS,HIL","is_required":0},{"key":"employee_id","label":"员工号/Q number","type":"3","options":null,"is_required":0},{"key":"dealer_name","label":"经销商简称/Dealer","type":"3","options":null,"is_required":0},{"key":"car_model","label":"所属车型/Car model","type":"3","options":null,"is_required":0},{"key":"email","label":"邮箱/E-mail","type":"3","options":null,"is_required":1}]},"open_stars":0,"score_name":"","st_point_uint":["志愿","星币"],"st_achieve_op":0,"st_rank_op":0,"demand_category":[],"demand_village":[],"menus_setting_open":3,"menus_setting":[[{"href":"https://wx3ff183e9aee6ce39.wechat.volzdx.cn/my/duration/applys?timestamp=1594093157686","name":"时长申请","icons":"http://api.volzdx.cn/images/uploads/2020-08/717971597627861.png","icon":"http://api.volzdx.cn/images/uploads/2020-08/717971597627861.png"},{"href":"https://admin.volzdx.cn/register/mWZdPNwaKg","name":"团队注册","icons":"http://api.volzdx.cn/images/uploads/2020-08/525091597627872.png","icon":"http://api.volzdx.cn/images/uploads/2020-08/525091597627872.png"},{"href":"https://wx3ff183e9aee6ce39.wechat.volzdx.cn/project/list/type/0/category/1000/target/1000","name":"最新发布","icons":"http://api.volzdx.cn/images/uploads/2020-08/546041597627881.png","icon":"http://api.volzdx.cn/images/uploads/2020-08/546041597627881.png"}]],"default_province_id":0,"default_province_name":"","default_city_id":0,"default_city_name":"","default_county_id":0,"default_county_name":"","language_change":1,"area_level":1,"volunteer_feedback":1,"funding_application":0};  // 巾帼志愿 id 71


    // window.orgInfo = {
    //   "name": "志多星",
    //   "logo": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-11/400251541057648.png",
    //   "real_name_register": 1,
    //   "module_settings": [
    //     [{
    //       "label": "志愿团队",
    //       "key": "volunteer_team",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/848611507952464.png"
    //     }, {
    //       "label": "志愿项目",
    //       "key": "volunteer_project",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/999161507952198.png"
    //     }, {
    //       "label": "志愿保障",
    //       "key": "volunteer_ensure",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/918461507952580.png"
    //     }, {
    //       "label": "志愿回馈",
    //       "key": "volunteer_feedback",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/838651507952615.png",
    //       "settings": {
    //         "label": "志愿回馈",
    //         "icon": "/uploads/2017-10/838651507952615.png"
    //       }
    //     }],
    //     [{
    //       "label": "时长记录",
    //       "key": "reward_history",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/323921507952861.png"
    //     }, {
    //       "label": "志愿攻略",
    //       "key": "volunteer_strategy",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/942591507952733.png"
    //     }, {
    //       "label": "服务中心",
    //       "key": "help_center",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/583531507952882.png",
    //       "settings": {
    //         "label": "客服中心"
    //       }
    //     }, {
    //       "label": "星级榜样",
    //       "key": "good_example",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-12/287281514167263.png",
    //       "settings": {
    //         "label": "星级榜样",
    //         "icon": "/uploads/2017-12/287281514167263.png"
    //       }
    //     }, {
    //       "label": "社区互动",
    //       "key": "community_interact",
    //       "icon": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-10/611041507952756.png",
    //       "settings": {
    //         "label": "社区互动",
    //         "icon": "/uploads/2017-10/611041507952756.png"
    //       }
    //     }],
    //     [{
    //       "label": "信息查询",
    //       "key": "volunteer_info",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/864991538873247.png",
    //       "settings": {
    //         "label": "重新设置",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/864991538873247.png"
    //       }
    //     }, {
    //       "label": "志愿机构",
    //       "key": "volunteer_platform",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/408331539159822.png",
    //       "settings": {
    //         "label": "志愿机构",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/408331539159822.png"
    //       }
    //     }, {
    //       "label": "项目认领",
    //       "key": "claim_project",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/470551539329049.png",
    //       "settings": {
    //         "label": "项目认领",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/470551539329049.png"
    //       }
    //     }, {
    //       "label": "志愿项目",
    //       "key": "volunteer_project",
    //       "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/334661539328936.png",
    //       "settings": {
    //         "label": "志愿项目222",
    //         "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2018-10/334661539328936.png"
    //       }
    //     }, {
    //                "label": "社区友好基金",
    //                "key": "funding_application",
    //                "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2019-02/169231551165981.png",
    //                "settings": {
    //                  "label": "社区友好基金",
    //                  "icon": "http://api.volunteer.alpha.guangying.link/images/uploads/2019-02/169231551165981.png"
    //                }
    //              }]
    //   ],
    //   "cert_title": "青岛市",
    //   "cert_org": "\b青岛市",
    //   "cert_cachet": "http://alpha.api.volunteer.tmallwo.com/images/uploads/2017-11/957251509852803.png",
    //   "cert_auth_org": "青岛市志愿服务学院",
    //   "score_name": "牛币",
    //   "open_volunteer_certificate": 0,
    //   "org_info": "<p><img src=\"http://alpha.api.volunteer.tmallwo.com:8000/images/uploads/2018-01/484421515566903.png\" style=\"width: 300px;\" class=\"fr-dib\" data-status=\"0\" data-msg=\"ok\"></p><p>志多</p>",
    //   "org_manual": "<p>Test 234</p>",
    //   "org_service": "<p>请加微信&nbsp;</p><p><img src=\"http://alpha.api.volunteer.tmallwo.com:8000/images/uploads/2018-01/901661515566842.jpg\" style=\"width: 300px;\" class=\"fr-fil fr-dib\" data-status=\"0\" data-msg=\"ok\"></p><p><br></p><p><br></p>",
    //   "org_service_tel": "17710210877",
    //   "org_service_guide": "",
    //   "custom_config": {
    //     "extends": [{
    //       "key": "isStarbucksPartner",
    //       "label": "是否星巴克伙伴",
    //       "type": "1",
    //       "options": "是,否",
    //       "is_required": 1
    //     }],
    //     "open_real_name": 1,
    //     "open_avatars": 0,
    //     "open_id_number": 1,
    //     "open_nation": 0,
    //     "open_addr": 0,
    //     "real_name_register": 0
    //   },
    //   "open_stars": 1
    // }
    //VWPe9xdLyw
    // VolejRejNm
    // qM7e5Ba2vp
    // 4openRe7Az
    // window.orgCode ="QJ0dNk6eLO";
    // yMYerkEaOB 测试环境， 志多星演示版
    // joQeZJepZV
    // QJ0dNk6eLO 武清 68
    // window.orgCode = LYqaQWldnj; //巾帼志愿 71

    window.orgCode = "mWZdPNwaKg";  //BMW

    window.serviceCategory = [
      "赛事服务",
      "应急救援",
      "城市运⾏",
      "文化教育",
      "关爱服务",
      "社区服务",
      "医疗卫⽣",
      "绿⾊环保",
      "在线志愿服务",
      "国际服务",
      "其他"
    ];
    window.serviceTarget = [
      "⼉童",
      "⻘少年",
      "孤寡⽼⼈",
      "残障⼈⼠",
      "优抚对象",
      "特困群体",
      "其他"
    ];
    // server 下发的个人擅长, 用于用户资料填写
    window.goodAt = [
      "关爱服务",
      "国际服务",
      "社区服务",
      "应急救援",
      "赛事服务",
      "医疗卫生",
      "绿色环保",
      "文化倡导",
      "教育",
      "助残",
      "助老",
      "其他"
    ];
    window.serviceArea = [{
      value: '扶贫',
      label: '扶贫'
    }, {
      value: '济困',
      label: '济困'
    }, {
      value: '扶老',
      label: '扶老'
    }, {
      value: '救孤',
      label: '救孤'
    }, {
      value: '恤病',
      label: '恤病'
    }, {
      value: '助残',
      label: '助残'
    }, {
      value: '救灾',
      label: '救灾'
    }, {
      value: '助医',
      label: '助医'
    }, {
      value: '助学',
      label: '助学'
    }, {
      value: '环保',
      label: '环保'
    }, {
      value: '公共文化',
      label: '公共文化'
    }, {
      value: '大型赛会',
      label: '大型赛会'
    }, {
      value: '其他服务',
      label: '其他服务'
    }];
    // server 下发的服务类型,可用于过滤等
    window.teamCategory = [
      "党政机关",
      "教育事业单位",
      "卫生事业单位",
      "科技事业单位",
      "文化事业单位",
      "社会福利利事业单位",
      "其他事业单位",
      "群团组织",
      "居委会或村委会",
      "国有企业",
      "民营企业",
      "社会团体",
      "社会服务机构",
      "基金会"
    ];
    if (window.userAgent && window.wxConfig) {
      try {

        if (typeof window.wxConfig === "string") {
          window.wxConfig = JSON.parse(window.wxConfig);
        }
        window.wx.config(wxConfig);

      } catch (e) {
        alert(e);
      }
    }

    document.title = window.orgInfo.name;

    window.dev = true;

  </script>
</head>

<body>
  <div id="container"></div>
  <script charset="utf-8"="http://map.qq.com/api/js?v=2.exp&key=GT7BZ-UXACR-R2JWZ-WYSXR-DHWJV-VEFAI"></script>
  <script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
  <script src="<%= bundle %>"></script>

</body>

</html>
